.gradientShape::before{
    content: "";
    position: absolute;
    inset: -2px;
    background-image: linear-gradient(to left, #743ad5, #d53a9d);
    border-radius: 100%;
}

.scrollBarhide::-webkit-scrollbar {
    width: 0px;
  }